@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Poppins:wght@500&display=swap');

html {
    background-color: #252330;
    color: #efefef;
    font-family: 'Roboto Slab', serif;
}

.link {
    color: #efefef;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}
